<div id="app">
  <navbar></navbar>
  <div class="container">
    <router-view></router-view>
  </div>
  <navbar-footer></navbar-footer>
</div>

<%= javascript_pack_tag 'todotas' %>
<script type="text/javascript">
 
</script>