<div id="app">
  <navbar></navbar>
  <div class="container">
    <transition mode=”out-in”>
    <router-view></router-view>
    </transition>
  </div>
  <navbar-footer></navbar-footer>
</div>

<%= javascript_pack_tag 'todotas' %>
<script type="text/javascript">
 
</script>
<style>
body{
  height:100vh;
}
.v-enter {
  transform: translate(-100px, 0);
  opacity: 0;
}
.v-enter-to {
  opacity: 1;
}
.v-enter-active {
  transition: all 1s 0s ease;
}
.v-leave {
  transform: translate(0, 0);
  opacity: 1;
}
.v-leave-to {
  transform: translate(100px, 0);
  opacity: 0;
}
.v-leave-active {
  transition: all .5s 0s ease;
}
</style>