<div id="app">
  
 
  
  <div class="container">
  
    <router-view></router-view>
  
  </div>
</div>

<%= javascript_pack_tag 'todotas' %>
<%= stylesheet_pack_tag 'todotas' %>
<script type="text/javascript">

 
</script>
<style>


</style>